<!DOCTYPE html>
<html>
<head>
  <title>Living Social Upload Challenge</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
<footer>
	<p> Application for LivingSocial RoR developer. Submitted by @jzueva </p>
</footer>
</html>
